@media only screen and (min-width: 25em) {

    .productOverview,
    .productList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .productList h3{
        font-size: 3vh;
    }

    .productList p{	
        font-size: 2vh;
        padding-bottom: 1vh;
    }

    .chooseUs {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        background-color: rgba(153, 205, 50, 0.08);
        padding-bottom: 3vw;
    }

    .chooseUs h2 {

        font-weight: 900;
    }

    .chooseUsContainer h3 {
        font-size: 1rem;
        font-weight: 700;
    }

    .bottonDescription {
        display: grid;
    }

    .bottonNavigation ul {
        width: 50%;
        margin: 0 auto;
        align-items: center;
    }

    .bottonLinks a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    .bottonSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2vw 2vw;
    }

    .aboutSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        background-color: rgba(153, 205, 50, 0.05);
    }

    .product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: span 2;
        place-items: center;
        background: url("../images/daffodils.webp") center/cover no-repeat, rgba(0, 0, 0, 0.2);
    }

    .productDescription,
    .product h2,
    .product p {
        color: white;
        margin-left: auto;
    }

    .productDescription {
        display: grid;
        grid-column: 2/2;
        padding-bottom: 0.5em;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.4rem;
    }

    .product h2 {
        padding-top: 0.5em;
        padding-bottom: 0;
    }

    .product p {
        padding-bottom: 0.5em;
    }

    hr {
        display: none;
    }
}

@media only screen and (min-width: 45em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1;
    }

    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    nav {
        width: 100%;
    }

    .mainTitle {
        text-align: center;

    }

    .productOverview,
    .productList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 1vw;
    }

    .chooseUsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .bottonSection {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .tradeTitle,
    .linkstitle,
    .conTitle,
    .newstitle {
        font-family: var(--subtitle-font);
        font-size: 2vw;
        font-weight: 900;
    }

    .bottonDescription p,
    .linkOption,
    .contactOption,
    .newsOption {
        font-family: var(--paragraph-font);
        font-size: 1.3vw;
        font-weight: 450;
        color: black;
        padding-bottom: 0.5vw;
    }

    input {
        font-family: var(--paragraph-font);
        font-size: 1.2vw;
        border-radius: 0.3rem;
    }

    .filterContainer {
        text-align: center;
    }

    .filterContainer select {
        font-family: var(--paragraph-font);
        font-size: 1.2vw;
        border-radius: 0.3rem;
        border-color: var(--secondary-color);
    }

    .filterContainer label {
        font-family: var(--paragraph-font);
        font-size: 1.4vw;
        font-weight: 900;
        color: var(--secondary-color);
    }

    .aboutSection {
        display: flex;
        flex-direction: column;
        place-items: center;
        padding-top: 0vw;
    }

    .mission,
    .story {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.1vw;
        grid-column: span 2;
        place-items: center;
        padding: 1.5vw 1.5vw;
    }

    .mission {
        background: url("../images/backabout.webp") center/cover no-repeat, rgba(0, 0, 0, 0.3);
        background-blend-mode: overlay;
    }

    .story {
        background: url("../images/ecology.webp") center/cover no-repeat, rgba(0, 0, 0, 0.2);
        background-blend-mode: overlay;
    }

    .missionDescription,
    .storyDescription {
        display: grid;
        grid-column: 2/2;
        padding-bottom: 0.5em;
        color: white;
        margin-left: auto;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.4rem;
    }

    .missionDescription h2,
    .storyDescription h2 {
        padding-top: 0.5em;
        padding-bottom: 0;
        color: white;
    }

    .missionDescription p,
    .storyDescription p {
        padding-bottom: 0.5em;
        font-weight: 400;
    }

    .bottonLinks {
        display: grid;
    }
}

@media only screen and (min-width: 65em) {

    .productOverview,
    .productList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .chooseUsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .bottonSection {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .tradeTitle,
    .linkstitle,
    .conTitle,
    .newstitle {
        font-size: 1.5vw;
    }

    .bottonDescription p,
    .linkOption,
    .contactOption,
    .newsOption {
        font-size: 1.3vw;
    }

    input {
        font-size: 1.5vw;
    }
}