* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #004b23;
  --secondary-color: #006400;
  --accent-color: #9ef01a;
  --accent-color2: #38b000;
  --text-color: black;
  --title-font: "Dancing Script", serif;
  --subtitle-font: "Merriweather", serif;
  --paragraph-font: "Roboto", serif;
}

header {
  background-color: var(--primary-color);
  margin: auto;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 9vw;
  height: 9vw;
}

/* Navigation Menu */
#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1vw;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  margin-left: auto;
  border-radius: 0.3rem;
}

#menu::before {
  content: "≡";
}

#menu.show::before {
  content: "X";
  font-size: 4vw;
}

.navigation {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navigation li {
  display: none;
}

.navigation.show {
  flex-direction: column;
}

.navigation.show li {
  display: block;
}

.navigation a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  font-weight: 700;
  font-size: clamp(1rem, 2vmin, 1.5rem);
  font-family: var(--paragraph-font);
}

.navigation a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  justify-content: center;
}

/* Body */
body {
  margin: 0 auto;
  padding: 0;
  color: var(--text-color);
  width: 100%;
  align-items: center;
}

.mainTitle {
  padding: 1vw 0 5vw;
  text-align: center;
}

.mainTitle h2 {
  font-family: var(--title-font);
  font-size: 10vw;
  color: var(--primary-color);
}

.mainTitle h3 {
  font-family: var(--subtitle-font);
  font-size: 5vw;
  color: var(--secondary-color);
}

p {
  font-family: var(--paragraph-font);
}

/* Colors */
.logo {
  width: 100vw;
  padding-bottom: 1em;
}

.primary, .secondary, .accent1, .accent2 {
  padding: 0.5em;
}

.primary {
  background-color: var(--primary-color);
  color: white;
}

.secondary {
  background-color: var(--secondary-color);
  color: white;
}

.accent1 {
  background-color: var(--accent-color);
  color: black;
}

.accent2 {
  background-color: var(--accent-color2);
  color: black;
}

/* Typography */
.Titles, .subtitles, .paragraphs {
  font-weight: 500;
}

.Titles {
  font-family: var(--title-font);
}

.subtitles {
  font-family: var(--subtitle-font);
}

.paragraphs {
  font-family: var(--paragraph-font);
}

/* Wireframes */
.Wireframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7vw;
}

.Wireframe h2 {
  font-family: var(--title-font);
  font-size: 7vw;
  color: var(--primary-color);
  padding: 1vw;
}

.largeWireframe, .smallWireframe {
  height: auto;
  padding: 1em;
}

.largeWireframe {
  width: 60%;
}

.smallWireframe {
  width: 25%;
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  text-align: center;
}

/* Containers */
.productsContainer, .mainTitle {
  text-align: center;
}

.productsContainer {
  padding-bottom: 5vw;
}

.card {
  padding: 2vw;
}

.productOverview img, .productList img {
  max-height: 10rem;
}

.productOverview {
  padding-bottom: 5vw;
  text-align: center;
}

.productOverview h3 {
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
  font-size: 3vw;
  font-weight: 900;
  padding: 0.5vw;
}

.productOverview p {
  font-family: var(--subtitle-font);
  font-size: 1.5vw;
  font-weight: 700;
  padding: 0.5vw;
}

.addBtn, .allProducts {
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--paragraph-font);
  font-weight: 900;
  border-color: transparent;
  border-radius: 0.3rem;
}

.addBtn {
  padding: 1vw 3vw;
}

.allProducts {
  padding: 1.5vw 5vw;
}

.card p {
  font-family: var(--paragraph-font);
  padding-bottom: 0.5em;
}

.chooseUs {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(153, 205, 50, 0.08);
  padding-bottom: 3vw;
}

.chooseUs h2 {
  font-family: var(--title-font);
  font-size: 7vw;
  font-weight: 900;
  padding: 5vw 0;
  color: var(--secondary-color);
}

.chooseUsContainer img {
  width: 12vw;
  height: 12vw;
  aspect-ratio: 4/3;
}

.chooseUsContainer h3 {
  font-family: var(--subtitle-font);
  font-size: 4vw;
  font-weight: 700;
  padding: 0.5vw;
}

.chooseUsContainer p {
  font-family: var(--paragraph-font);
  padding: 1.5vw 1vw;
  width: 70%;
  margin: 0 auto;
}

.bottonSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vw;
}

hr {
  border: 0.1rem solid var(--secondary-color);
  width: 98%;
  margin: 0 auto;
  align-items: center;
}

.bottonSection div {
  width: 90%;
}

.bottonDescription, .bottonLinks {
  display: none;
}

.contact li, .newsletter li, .bottonNavigation li {
  list-style: none;
  text-decoration: none;
}

.tradeTitle, .linkstitle, .conTitle, .newstitle {
  font-family: var(--subtitle-font);
  font-size: 2.5vw;
  font-weight: 900;
  color: var(--secondary-color);
}

.bottonDescription p, .linkOption, .contactOption a, .newsOption {
  font-family: var(--paragraph-font);
  font-size: 1.2vw;
  padding: 0.5vw;
  color: black;
  text-decoration: none;
}

input {
  font-family: var(--paragraph-font);
  font-size: 1vw;
  border-radius: 0.3rem;
  border-color: var(--secondary-color);
  margin-bottom: 1vw;
}

.subsBtn {
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--paragraph-font);
  font-weight: 900;
  border-color: transparent;
  border-radius: 0.3rem;
  padding: 0.5vw 1vw;
}

/* Products */
.productList {
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.productTitle {
  font-family: var(--title-font);
  font-size: 6vw;
  font-weight: 900;
  color: var(--primary-color);
  padding: 2vw;
  text-align: center;
}

.filterContainer {
  text-align: center;
}

.filterContainer select {
  font-family: var(--paragraph-font);
  font-size: 1.6vw;
  border-radius: 0.3rem;
  border-color: var(--secondary-color);
}

.filterContainer label {
  font-family: var(--paragraph-font);
  font-size: 2vw;
  font-weight: 900;
  color: var(--secondary-color);
}

/* About Us */
.aboutSection {
  padding-top: 2vw;
}

.missionDescription h2, .storyDescription h2, .productDescription h2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--title-font);
  font-size: 7vw;
  color: var(--primary-color);
}

.mission p, .story p, .product p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--paragraph-font);
  padding: 5vw;
}

/* Main */
main {
  padding: 0 2vw;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.siteContainer h2 {
  font-family: var(--title-font);
  font-size: 7vw;
  color: var(--primary-color);
  padding: 2vw;
  text-align: center;
}

.siteContainer p {
  font-family: var(--paragraph-font);
  padding: 2vw;
}

.scenario-card {
  padding: 1vw;
}

.scenarios h2 {
  font-family: var(--title-font);
  font-size: 7vw;
  color: var(--primary-color);
  padding: 1vw;
  text-align: center;
}

.scenarios ul {
  font-family: var(--paragraph-font);
  padding: 2vw 1.5vw;
  list-style: none;
}

.Branding {
  text-align: center;
  padding: 3vw 2vw;
}

.Branding h2 {
  font-family: var(--title-font);
  font-size: 7vw;
  color: var(--primary-color);
  padding: 1vw;
  text-align: center;
}

.Branding img {
  width: 30%;
  margin: 0 auto;
  padding: 3vw 2vw;
}

.Branding table {
  font-family: var(--paragraph-font);
  align-items: center;
  margin: 0 auto;
}

.colors td {
  font-weight: 900;
  padding: 2vw 3vw;
}

.Typography {
  padding: 2vw;
}

.Typography h3, .Typography h4, .Typography p {
  font-size: 6vw;
  padding: 1.5vw 2vw;
}